[core]
    excludefiles = /Users/willem.garnier/.gitignore.global
    excludesfile = /Users/willem.garnier/.gitignore_global
    pager = delta
[diff]
    colorMoved = default
    
[delta]
    line-numbers = true
    syntax-theme = Dracula
    commit-decoration-style = ul bold yellow
    file-style = bold magenta
    file-decoration-style = ul magenta
    hunk-header-decoration-style = box cyan
    
[alias]
    # alias management
    alias = "!_() { git config --global alias.$1 \"$2\"; echo \"Aliased \\x1b[1mgit $1\\x1b[0m to: \\x1b[2m${2//\\\\/\\\\\\\\}\\x1b[0m\"; }; _"
    aliases = "!_() { git config --get-regexp \"^alias\\.${1}\" | sed -e s/^alias\\.// | awk '{ printf \"\\x1b[1m\" $1 \"\\x1e\\x1b[0m\"; $1=\"\"; print $0 }' | sort | column -t -s $(echo \"\\x1e\"); }; _"
    unalias = "!_() { git config --global --unset alias.$1; echo \"Removed alias \\x1b[1mgit $1\\x1b[0m.\"; }; _"
    
    # simple command aliases
    co = checkout
    nb = checkout -b
    del = branch -d
    kill = branch -D
    
    history = log --all --full-history --no-merges --follow --
    tree = log --graph --date=short --pretty='%C(auto)%h %C(auto,cyan)%ad%Creset%C(auto)%d %s - %C(auto,cyan)%ae' --all

    # view a commit's changes in a side-by-side diff view
    see = -c \"core.pager=delta --side-by-side\" show
    # view the current changes in a side-by-side diff view
    sxs = -c \"core.pager=delta --side-by-side\" diff
    
    # view the latest remote version of a branch
    view = "!_() { git fetch && git log origin/$1; }; _"
    # merge the latest remote version of a branch
    moo = "!_() { git fetch && git merge origin/$1; }; _"
    # push the current branch to origin
    pinit = "!_() { git push --set-upstream origin ${1-$(git rev-parse --abbrev-ref HEAD)}; }; _"
    
    # viewing commits from a recent timeframe
    since = "!_() { git log --format=\"format:%an||%h||%s\" --since=\"$*\" | awk -F\"[|][|]\" '{ print \"\\x1b[1m\" $1 \"\\x1e\\x1b[2m\" $2 \"\\x1e\\x1b[0m\" $3 }' | column -t -s $(echo \"\\x1e\"); }; _"
    today = since 00:00:00
    week = since 1 week ago
    month = since 1 month ago
